/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
    background: rgb(252, 252, 252);
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  :focus {
    outline-width: 0;
  }